#
# gp-pico-blink
# Copyright © 2024, Greg PFISTER. Fair Core License, Version 1.0, MIT Future License
#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# editors
.idea/
.run/
.vscode/
*.swp
*~

# python
.venv

# build
/*build*

__pycache__/

# docs
/doc/_build*

# SDK
pico_sdk_import.cmake
